body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa; /* Warna latar belakang yang lebih mirip dengan Instagram */
  color: #333; /* Warna teks */
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px; /* Radius sudut yang lebih besar */
  background-color: #fff; /* Warna latar belakang kontainer */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Efek bayangan yang lebih halus */
}

/* Gaya untuk input teks dan angka */
input[type="text"],
input[type="number"] {
  width: calc(100% - 24px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd; /* Border yang lebih tipis */
  border-radius: 5px;
}

/* Gaya untuk tombol */
button {
  background-color: #3897f0; /* Warna latar belakang tombol yang lebih mirip dengan Instagram */
  color: #fff;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Gaya untuk footer */
footer {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #999; /* Warna teks yang lebih lembut */
}

@media only screen and (max-width: 600px) {
  /* Gaya untuk tampilan responsif pada perangkat seluler */
  .container {
      border-radius: 0; /* Menghilangkan radius sudut pada tampilan responsif */
  }
}
